/* **ALL** */
:root {
  --blue: #50808e;
  --forest: #2a4d14;
  --gold: #f5bb00;
  --gray: #e6e6e9;
  --clay: #be5a38;
}

html {
  background-color: var(--blue);
}

main {
  font-family: 'Maven Pro', sans-serif;
}

.nav-color{
  background-color: var(--gray);
}

a {
  text-decoration: none;
}

/* **HOMEPAGE** */

header {
  font-family: 'Encode Sans SC', sans-serif;
}

/* .navbar-brand {
  width: 25%;
} */
.navbar-nav {
  width: 100%;
}

#navbarNavAltMarkup .navbar-nav .nav-item {
  margin-left: 3%;
  align-self: flex-end;
}

.nav-item a {
  text-decoration: none;
}

/* #navbarNavAltMarkup  .navbar-nav{
  justify-content: flex-end;
} */

/* .navbar-inner {
  background: transparent;
} */

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link, .navbar-light .navbar-nav .nav-link {
  color: var(--forest);
  font-size: 1.5rem;
}

/* .navbar-brand {
  color: teal;
  font-size: 2.25rem;
  font-weight: 600;
} */

.main-logo {
  width: 30%;
}

a:hover, .navbar-brand:hover {
  text-decoration: none;
}

.navbar-brand:hover {
  color:darkolivegreen
}

.hp-container {
  display: flex;
  flex-direction: column;
}

.image {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  /* background-image: url(./assets/images/different-vegetables-textile-bag-grey.jpg);
  background-size: cover; */
}

/* .no-hero-image {
  width: auto;
  height: auto;
} */

.content {
  position: relative;
  background-color: var(--gray);
}

.homepage-content {
  display: flex;
  flex-direction: column;
}

.hp-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4%;
}

.section-2 {
  padding-top: 0%;
}

.homepage-content section {
  text-align: center;
}

.homepage-title {
  padding: 3%;
  padding-bottom: 4%;
  text-align: center;
}

.homepage-content-div-1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 5%;
  border-bottom: 5px solid var(--blue);
}

.homepage-pg {
  text-align: justify;
}

#farmer-market {
  width: 23rem;
  height: 18rem;
}

.homepage-content-div-2 {
  display: flex;
  flex-direction: column;
}

.hp-pics-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.veg-pics {
  width: 20rem;
  height: 15rem; 
}

/* CARD STYLING FOR ITEM POSTS - USED IN DASHBOARD, SELLER PROFILE AND BROWSE ITEMS */

/* .group-card-elements {
  display: flex;
  justify-content: space-between;
}

.card-pic {
  align-self: center;
}

.card-title {
  font-weight: 800;
} */


/* ** DASHBOARD ONLY - MY BOUNTY - SELLER VIEW ** */
.d-flex, .tab-content {
  width: 100%;
}

.dashboard-container .nav {
  margin: 2%;
  color: var(--gray)
}

.dashboard-container .nav-pills .nav-link.active, .dashboard-container .nav-pills .show>.nav-link {
  background-color: var(--forest);
  color: var(--gray)
}

.dashboard-container .nav-link, .seller-profile-container .nav-link {
  color: var(--gray)
}

.dashboard-container .nav-link:focus, .dashboard-container .nav-link:hover {
  color: var(--forest)
}

.seller-profile-container .nav-link:focus, .seller-profile-container .nav-link:hover {
  cursor: pointer;
  background-color: var(--gold);
  color: var(--forest)
}

.seller-profile-container .nav-tabs .nav-item.show .nav-link, .seller-profile-container .nav-tabs .nav-link.active {
  color: var(--blue);
}

.modal .b-logo {
  width: 100px;
}

.hide {
  display: none;
}

#add-item, #edit-profile, .save-btn, #send-message {
  justify-self: center;
  width: 80%;
  font-size: .85rem;
  margin-bottom: 5%;
  margin-top: 6%;
  background-color: var(--clay);
  color: var(--gray);
}

#send-message {
  width: 100%;
}

/* 
#edit-profile, .save-btn, #add-item {
  width: 100%;
  font-size: .85rem;
} */


/* ** DASHBOARD & PROFILE (BUYER VIEW OF DASHBOARD) */
/* .items .card {
  width: 55rem;
  height: 22rem;
} */

.card span {
  width: 100%;
}

.item-title {
  font-size: 1.5rem;
}

.browse-img-div img {
  width: 75%;
}

.browse-img-div, .card-body {
  text-align: center;
}

.card-body p {
  line-height: 1;
}

.items-b-logo {
  width: 100%;
}

.text-muted {
  font-size: .75rem;
}

.item-btn {
  background-color: rgb(184, 182, 182);
  color: black;
  font-weight: 1000;
  font-size: .75rem;
}

.item-title {
  color: var(--clay)
} 

.center-btns {
  margin-top: 1.5%;
  text-align: center;
}

.item-btn {
  width: 100px;
  margin: 3%;
}

.group-card-elements {
  display: flex;
}



/* .dashboard-container button {
  margin-top: 10%;
  background-color: var(--blue);
  color: var(--gray);
  width: 70%;
} */

#profile-img {
  width: 50%;

}

.seller-profile-container #profile-img {
  width: 80%;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--blue);

}

.seller-profile-container {
  display: flex;
  align-items: flex-start;
  background-color: var(--blue);

}

.seller-nav-container {
  margin: 3%;
}

.seller-nav-container .nav{
  margin-bottom: 3%;
}

.profile-container {
  display: flex;
  justify-content: center;
  text-align: center;

}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 55%;
  margin: 5%;
}

.profile-info {
  margin-top: 3.5%;
}

.your-bounty {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.seller-bounty {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;

}

.dashboard-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.dashboard-header h2 {
  margin-bottom: 3%;
}

.items {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* padding-top: 5%; */
}

.seller-items {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.items .card-body, .seller-items .card-body {
  text-align: left;
}

.items .btn, .seller-items .btn {
  background-color: var(--gold);
}

.item-card {
  margin: 2%;
}

.dashboad-c-body {
  width: 100%;
}

.item-buttons {
  display: flex;
  justify-content: space-evenly;
}

.item-btn {
  padding: auto;
  margin: 1%;
}

/* ** BROWSE ** */
#browse-background {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background-image: url(./assets/images/lettuce.jpg); */
  background-size: cover;
}

.browse-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.form-container {
  width: 100%;
}

.browse-form select {
  padding: .5%;
}

.browse-items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 3%;
}

.browse-items .card {
  margin: 2%;
  background-color: #fff;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
  border: transparent;
}

.group-card-elements {
  display: flex;
  justify-content: space-between;
}

.card-pic {
  align-self: center;
}

.card-title {
  font-weight: 800;
}

.homepage-pg {
  margin: 2%;
}

.browse-form, #add-cart-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.browse-form h5 {
  width: 100%;
}

#browse-cat {
  color: var(--gray);
  font-weight: 1000;
}

#browse-cat-btn, .add-cart {
  background-color: var(--gold);
  color: var(--forest);
  width: 125px;
}

.browse-cat, .add-to-cart {
  margin: 1.5%;
}

.browse-form select, #add-cart-form select {
  /* margin-bottom: 0vh; */
  width: initial;
  border-radius: 5px;
}

/* ITEM VIEW */

/* #cart-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

#itemvview-image {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background-image: url("/images/oranges.jpg"); */
  background-size: cover;

}

.page-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 8%;
}

/* #cart-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.add-cart {
  background-color: var(--blue);
  width: 15%;
} */

.left-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

#item-view-img {
  margin-top: 10%;
}

.profile, .itemview-components, .items .card, .seller-items .card {
  background-color: #fff;
  padding: 4vh 5vh;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
  border: transparent;

}

.seller-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75%;

}

.seller-btn {
  margin: 5%;
}

.item-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Media queries */

@media screen and (min-width: 992px) {

.navbar-expand-lg .navbar-nav {
  justify-content: flex-end;
}

.hp-section {
  margin: 2%;
  margin-bottom: 0%;
  padding-bottom: 0%;
}

.homepage-pg {
  padding: 5%;
  font-size: large;
}

.veg-pics {
  margin: 1.5%;
  width: 25rem;
  height: 20rem; 
}

#farmer-market {
  width: 30rem;
  height: 20rem;
}

.homepage-content-div-2 {
  justify-content: center;
}

}

@media screen and (max-width: 992px) {

.image {
  height: 85%;
}

.content {
  top: 95%;
}

.veg-pics {
  margin: 1.5%;
  width: 15rem;
  height: 10rem; 
}

}

@media screen and (max-width: 768px) {

.image {
  height: 65%;
}

.hp-pics-div {
  flex-direction: column;
}

.homepage-content-div-1, .homepage-content-div-2 {
  flex-direction: column;
  }

}

@media screen and (max-width: 576px) {

.navbar-brand {
  width: 50%;
}

.main-logo {
  width: 60%;
}

.image {
  height: 40%;
}

.content {
  top: 50%;
}

.homepage-pg {
  margin-bottom: 5%;
}

.hp-pics-div {
  flex-direction: column;
  padding-bottom: 3%;
}

.browse-form {
  flex-direction: column;
  margin-top: 3.5%;
}

.browse-img-div img {
  width: 50%;
}

.profile {
  width: 70%;
  align-self: center;
}

.profile, .items .card {
  padding: 3vh, 4vh;
}

}
